*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
/*aca estilando el menu de navegacion*/
header nav img{
    width: 5rem;
    height: 5rem;
}

.nav-menu {
display: flex;
}

.nav-menu li{
    margin-left: 3.5rem;
}
.nav-menu li a:hover{
    border-bottom: 0.20rem solid #efb810;
    color: black;
}

.contenido-1 img{
    width: 500px;
    height: 100%;
}

